<ion-view title="{{AppName}}" hide-nav-bar="false">
<link rel="stylesheet" href="css/charts.css">
<div id="spinner" class="intro-spinner" style="display:none;"><ion-spinner icon="spiral"></ion-spinner></div>

<ion-content data-tap-disabled="true">
  <div ng-include src="'templates/filters.html'"></div>

  <div class="chartsContainer">
    <div class="chartsTopBar">

      <!--<div class="chartsTopBarItem" style="margin-left: 16px;">
        <div class="chartsTopBarItemTitle">
          Personas
        </div>
        <div class="chartsTopBarItemValue">
          {{total_people}}
        </div>
      </div>-->

      <div class="chartsTopBarItem" style="margin-left: 16px;">
        <div class="chartsTopBarItemTitle">
          Asentamientos
        </div>
        <div class="chartsTopBarItemValue">
          {{total_stablishments}}
        </div>
      </div>
      <div class="chartsTopBarItem">
        <div class="chartsTopBarItemTitle">
          Viviendas
        </div>
        <div class="chartsTopBarItemValue">
          {{total_houses}}
        </div>
      </div>
      <div class="chartsTopBarItemNoBorder">
        <div class="chartsTopBarItemTitle">
          Zona
        </div>
        <div class="chartsTopBarItemValueArea">
          {{area}}
        </div>
      </div>
    </div>

    <div class="charts_tabs">
      <ion-tabs class="tabs-positive tabs-icon-top" selectedIndex="0">

        <ion-tab id="generalTab" title="Datos Generales*">
          <ion-scroll direction="y" class="scroll_inside_tabs" delegate-handle="content">
            <div style="position: absoulute; height: 1800px; width: 750px;">

              <div class="chartsInsideTabMainTitle">
                Viviendas
              </div>

              <div class="inlineChart">
                <div class="chartTitle">Nº estimado de viviendas</div>
                <div class="doughnutChartContainer">
                  <canvas width="120" height="120" id="doughnut" class="chart chart-doughnut"
                    chart-colors="colors" chart-data="viviendasData" chart-labels="viviendasLabels">
                  </canvas>
                </div>
                <div class="chartLegendTitle">Menos de 50</div>
                <div class="chartLegendValueOne">{{porcentajeMenosCiencuentaViviendas}}%</div>
                <div class="chartLegendTitle">Entre 50 y 100</div>
                <div class="chartLegendValueTwo">{{porcentajeEntreCiencuentaCienViviendas}}%</div>
                <div class="chartLegendTitle">Entre 100 y 200</div>
                <div class="chartLegendValueThree">{{porcentajeEntreCienDoscientasViviendas}}%</div>
                <div class="chartLegendTitle">Más de 200</div>
                <div class="chartLegendValueFour">{{porcentajeMasDoscientasViviendas}}%</div>
              </div>

              <div class="inlineChart">
                <div class="chartTitle">Porcentaje de edificaciones con techos precarios</div>
                <div class="doughnutChartContainer">
                  <canvas width="120" height="120" id="doughnut" class="chart chart-doughnut"
                    chart-colors="colors" chart-data="techosData" chart-labels="techosLabels">
                  </canvas>
                </div>
                <div class="chartLegendTitle">Menos del 40%</div>
                <div class="chartLegendValueOne">{{porcentajeMenosCuarentaTechosPrecarios}}%</div>
                <div class="chartLegendTitle">Entre el 40% y 60%</div>
                <div class="chartLegendValueTwo">{{porcentajeEntreCuarentaSesentaTechosPrecarios}}%</div>
                <div class="chartLegendTitle">Más del 60%</div>
                <div class="chartLegendValueThree">{{porcentajeMasSesentaTechosPrecarios}}%</div>
              </div>

              <div class="inlineChart">
                <div class="chartTitle">Porcentaje de edificaciones con paredes precarias</div>
                <div class="doughnutChartContainer">
                  <canvas width="120" height="120" id="doughnut" class="chart chart-doughnut"
                    chart-colors="colors" chart-data="paredesData" chart-labels="paredesLabels">
                  </canvas>
                </div>
                <div class="chartLegendTitle">Menos del 40%</div>
                <div class="chartLegendValueOne">{{porcentajeMenosCuarentaParedesPrecarios}}%</div>
                <div class="chartLegendTitle">Entre el 40% y 60%</div>
                <div class="chartLegendValueTwo">{{porcentajeEntreCuarentaSesentaParedesPrecarios}}%</div>
                <div class="chartLegendTitle">Más del 60%</div>
                <div class="chartLegendValueThree">{{porcentajeMasSesentaParedesPrecarios}}%</div>
              </div>

              <!-- Comentado porque no existe en los datos
              <div class="inlineChart">
                <div class="chartTitle">Porcentaje de edificaciones con suelos precarios</div>
                <div class="doughnutChartContainer">
                  <canvas width="120" height="120" id="doughnut" class="chart chart-doughnut"
                    chart-colors="colors" chart-data="suelosData" chart-labels="suelosLabels">
                  </canvas>
                </div>
                <div class="chartLegendTitle">Menos del 40%</div>
                <div class="chartLegendValueOne">{{porcentajeMenosCuarentaSuelosPrecarios}}%</div>
                <div class="chartLegendTitle">Entre el 40% y 60%</div>
                <div class="chartLegendValueTwo">{{porcentajeEntreCuarentaSesentaSuelosPrecarios}}%</div>
                <div class="chartLegendTitle">Más del 60%</div>
                <div class="chartLegendValueThree">{{porcentajeMasSesentaSuelosPrecarios}}%</div>
              </div>
              -->

              <div class="inlineChart">
                <div class="chartTitle">Porcentaje de edificaciones con contador de consumo eléctrico</div>
                <div class="doughnutChartContainer">
                  <canvas width="120" height="120" id="doughnut" class="chart chart-doughnut"
                    chart-colors="colors" chart-data="contadoresData" chart-labels="contadoresLabels">
                  </canvas>
                </div>
                <div class="chartLegendTitle">Menos del 40%</div>
                <div class="chartLegendValueOne">{{porcentajeMenosCuarentaContadoresElectricos}}%</div>
                <div class="chartLegendTitle">Entre el 40% y 60%</div>
                <div class="chartLegendValueTwo">{{porcentajeEntreCuarentaSesentaContadoresElectricos}}%</div>
                <div class="chartLegendTitle">Más del 60%</div>
                <div class="chartLegendValueThree">{{porcentajeMasSesentaContadoresElectricos}}%</div>
              </div>

              <div class="inlineChart">
                <div class="chartTitle">Presencia de zanjas de drenaje por edificación</div>
                <div class="doughnutChartContainer">
                  <canvas width="120" height="120" id="doughnut" class="chart chart-doughnut"
                    chart-colors="colors" chart-data="zanjasData" chart-labels="zanjasLabels">
                  </canvas>
                </div>
                <div class="chartLegendTitle">Menos del 40%</div>
                <div class="chartLegendValueOne">{{porcentajeMenosCuarentaZanjas}}%</div>
                <div class="chartLegendTitle">Entre el 40% y 60%</div>
                <div class="chartLegendValueTwo">{{porcentajeEntreCuarentaSesentaZanjas}}%</div>
                <div class="chartLegendTitle">Más del 60%</div>
                <div class="chartLegendValueThree">{{porcentajeMasSesentaZanjas}}%</div>
              </div>

              <div class="chartsInsideTabMainTitle" style="top: auto; float: left; clear: both; margin-bottom: -40px;">
                Entorno urbano
              </div>

              <div class="inlineChartShort">
                <div class="chartTitle">Presencia de alumbrado público</div>
                <div class="doughnutChartContainer">
                  <canvas width="120" height="120" id="doughnut" class="chart chart-doughnut"
                    chart-colors="colors" chart-data="alumbradoData" chart-labels="alumbradoLabels">
                  </canvas>
                </div>
                <div class="chartLegendTitle">Si</div>
                <div class="chartLegendValueOne">{{porcentajeAlumbradoSi}}%</div>
                <div class="chartLegendTitle">No</div>
                <div class="chartLegendValueTwo">{{porcentajeAlumbradoNo}}%</div>
              </div>

              <div class="inlineChartShort">
                <div class="chartTitle">Presencia de basurales</div>
                <div class="doughnutChartContainer">
                  <canvas width="120" height="120" id="doughnut" class="chart chart-doughnut"
                    chart-colors="colors" chart-data="basuralData" chart-labels="basuralLabels">
                  </canvas>
                </div>
                <div class="chartLegendTitle">Si</div>
                <div class="chartLegendValueOne">{{porcentajeBasuralSi}}%</div>
                <div class="chartLegendTitle">No</div>
                <div class="chartLegendValueTwo">{{porcentajeBasuralNo}}%</div>
              </div>

              <div class="inlineChartShort">
                <div class="chartTitle">Presencia de paradas de ómibus</div>
                <div class="doughnutChartContainer">
                  <canvas width="120" height="120" id="doughnut" class="chart chart-doughnut"
                    chart-colors="colors" chart-data="paradasData" chart-labels="paradasLabels">
                  </canvas>
                </div>
                <div class="chartLegendTitle">Si</div>
                <div class="chartLegendValueOne">{{porcentajeParadasSi}}%</div>
                <div class="chartLegendTitle">No</div>
                <div class="chartLegendValueTwo">{{porcentajeParadasNo}}%</div>
              </div>

              <div class="inlineChartShort">
                <div class="chartTitle">Presencia de placas con nombre de calles</div>
                <div class="doughnutChartContainer">
                  <canvas width="120" height="120" id="doughnut" class="chart chart-doughnut"
                    chart-colors="colors" chart-data="placasData" chart-labels="placasLabels">
                  </canvas>
                </div>
                <div class="chartLegendTitle">Si</div>
                <div class="chartLegendValueOne">{{porcentajePlacasSi}}%</div>
                <div class="chartLegendTitle">No</div>
                <div class="chartLegendValueTwo">{{porcentajePlacasNo}}%</div>
              </div>

              <div class="inlineChartShort">
                <div class="chartTitle">Arbolado</div>
                <div class="doughnutChartContainer">
                  <canvas width="120" height="120" id="doughnut" class="chart chart-doughnut"
                    chart-colors="colors" chart-data="arboladoData" chart-labels="arboladoLabels">
                  </canvas>
                </div>
                <div class="chartLegendTitle">Si</div>
                <div class="chartLegendValueOne">{{porcentajeArboladoSi}}%</div>
                <div class="chartLegendTitle">No</div>
                <div class="chartLegendValueTwo">{{porcentajeArboladoNo}}%</div>
              </div>

              <div class="chartsInsideTabLostData">
                *Existen datos perdidos...
              </div>

            </div>
          </ion-scroll>
        </ion-tab>

        <ion-tab id="historyTab" title="Datos Históricos">
          <ion-scroll direction="y" class="scroll_inside_tabs" delegate-handle="content">
            <div id="historyData" style="position: absoulute; height: 1800px; width: 750px;">

              <!--<div class="chartsInsideTabMainTitleHistory" style="float: left; clear: both;">
                Estado general de las veredas
              </div>-->

              <div class="inlineHistoryData">
                <div class="chartTitle">Presencia de alumbrado público</div>
                <div class="chartLegendTitle">2011</div>
                <div class="chartLegendValueOne">{{porcentajeAlumbradoSi2011}}%</div>
                <div class="chartLegendTitle">2018</div>
                <div class="chartLegendValueTwo">{{porcentajeAlumbradoSi2018}}%</div>
              </div>

              <div class="inlineHistoryData">
                <div class="chartTitle">Presencia de paradas de ómibus</div>
                <div class="chartLegendTitle">2011</div>
                <div class="chartLegendValueOne">{{porcentajeParadasSi2011}}%</div>
                <div class="chartLegendTitle">2018</div>
                <div class="chartLegendValueTwo">{{porcentajeParadasSi2018}}%</div>
              </div>

              <div class="inlineHistoryData">
                <div class="chartTitle">Presencia de placas con nombre de calles</div>
                <div class="chartLegendTitle">2011</div>
                <div class="chartLegendValueOne">{{porcentajePlacasSi2011}}%</div>
                <div class="chartLegendTitle">2018</div>
                <div class="chartLegendValueTwo">{{porcentajePlacasSi2018}}%</div>
              </div>

              <div class="historyDataSeparator">
              </div>

              <div class="chartsInsideTabMainTitleHistory" style="top: auto; float: left; clear: both; margin-bottom: -40px;">
                Arbolado
              </div>

              <div class="inlineHistoryData arbolado">
                <div class="chartTitle">Con arbolado</div>
                <div class="chartLegendTitle">2011</div>
                <div class="chartLegendValueOne">{{porcentajeArboladoSi2011}}%</div>
                <div class="chartLegendTitle">2018</div>
                <div class="chartLegendValueTwo">{{porcentajeArboladoSi2018}}%</div>
              </div>

              <div class="inlineHistoryData arbolado">
                <div class="chartTitle">Sin arbolado</div>
                <div class="chartLegendTitle">2011</div>
                <div class="chartLegendValueOne">{{porcentajeArboladoNo2011}}%</div>
                <div class="chartLegendTitle">2018</div>
                <div class="chartLegendValueTwo">{{porcentajeArboladoNo2018}}%</div>
              </div>

            </div>

          </ion-scroll>
        </ion-tab>

      </ion-tabs>
    </div>

  </div>
</ion-content>

</ion-view>
