<div id="static-content">
  <img class="img-header" src="/assets/312-scaled.png" />

  <div class="content-container">
    <h1>
      Aspectos metodológicos
    </h1>
    <h2>
      Unidad de análisis
    </h2>
    <p>
      La unidad de análisis utilizada corresponde a los asentamientos informales.
    </p>
    <p>
      Desde TECHO, en lugar de “asentamientos informales”, preferimos entenderlos y describirlos como prácticas y luchas sociales que no solo construyen casas y barrios estrictamente en un nivel físico. Al mismo tiempo, y probablemente más importante, también
      construyen una ciudadanía activa y responsable frente a la marginalización y la segregación urbana y social. Poniendo en práctica un ejercicio democrático directo y mejorando las condiciones de vida individuales y comunitarias, la autoestima de
      los participantes y la coexistencia social.
    </p>
    <p>
      Para esta investigación se toma la definición estatal para poder establecer el análisis y las comparaciones pertinentes, con la intención también de promover la articulación y diálogo entre los diferentes esfuerzos destinados al levantamiento de información:
    </p>
    <p>
      <i>
        Para esta investigación se  toma la definición estatal para poder establecer
        el análisis y las comparaciones pertinentes, con la intención también de
        promover la articulación y diálogo entre los diferentes esfuerzos destinados
        al levantamiento de información:
      </i>
    </p>
    <p>
      <i>
        “Agrupamiento de más de 10 viviendas, ubicadas en terrenos públicos o
        privados, construidos sin autorización del propietario en condiciones
        formalmente irregulares, sin respetar la normativa urbanística.
        <br />
        A este agrupamiento de viviendas se le suman carencias de todos o algunos
        servicios de infraestructura urbana básica en la inmensa mayoría de los
        casos, donde frecuentemente se agregan también carencias o serias
        dificultades de acceso a servicios sociales.”
        (Informe técnico, Unidad de Evaluación y Monitoreo PMB-PIAI [Proyecto
        Integración Asentamientos Irregulares] , 2011:2)
      </i>
    </p>
    <h2>
      Modo de recolección y tecnologías
    </h2>
    <p>
      Para el logro de este objetivo, 70 jóvenes voluntarios y voluntarias se movilizaron en el levantamiento de información, yendo al encuentro de cada asentamiento y prestándose a la escucha activa en cada entrevista con el/la referente barrial. Esta capacidad
      de trabajo de la organización es lo que convierte a esta investigación en un aporte para la construcción de información desde el territorio.
    </p>
    <p>
      En la búsqueda de la eficiencia del proceso hemos utilizado Kobo Collect una herramienta digital de levantamiento de información para dispositivos móviles. La misma fue diseñada, entre otros colaboradores, por la OCHA con el fin de relevar datos en situaciones
      de catástrofe. Para el presente proyecto, su empleo ha significado una innovación y agilización de procesos, puntualmente logrando reducir el consumo de pape, eliminar los tiempos de digitalización y reducir los márgenes de error.
    </p>
    <p>
      Para estimar la cantidad de viviendas se realizó, en todos los asentamientos detectados en terreno, un conteo cuadra por cuadra de todas las edificaciones presentes -excluyendo locales comerciales y edificaciones sin paredes y/o techos-. De este conteo
      se desprende el estimativo de viviendas.
    </p>
    <h2>
      Diseño de la muestra
    </h2>
    <p>
        El Relevamiento Nacional de Asentamientos Informales -RNAI- es de carácter censal a nivel de asentamientos y cuadras de asentamientos, ya que los instrumentos de recolección de datos se aplicaron en la totalidad de los asentamientos informales existentes en el territorio nacional y a la totalidad de las cuadras urbanas presentes en ellos. Dicho esto se coteja un margen de error por omisión y cobertura en torno a un 5% (alineado a los parámetros generalmente existentes en este tipo de ejercicios).
    </p>
    <p>
        La temporalidad del levantamiento de datos fue desde el 16 de marzo de 2018 al 28 de enero de 2019.
    </p>
    <h2>
      Instrumentos de recolección de datos
    </h2>
    <h3>
      Formulario de entorno urbanístico
    </h3>
    <p>
      En paralelo al Censo 2011 de hogares, viviendas y personas, el INE realiza el censo de entorno urbanístico. Este censo presenta una caracterización por zona censal en relación al estado de las calles y nivel de urbanización general (presencia de basural, iluminación, parada bus, entre otras). La unidad de estudio son los bordes de zonas censales -que, en su mayoría, cada una corresponde a una cuadra-. Esta investigación replicó la metodología implementada por el INE en las cuadras de todos los asentamientos del territorio nacional.
    </p>
    <h3>
      Entrevista a referente comunitario
    </h3>
    <p>
      Se aplicó en cada asentamiento una entrevista cualitativa estandarizada a un o una referente del asentamiento. Tal referente es un integrante de la forma organizativa identificada en el asentamiento,  o, en caso de no identificarse tal organización, el poblador o la pobladora que hace más tiempo habita en el lugar.
    </p>
    <p>
      La decisión de aplicación de la entrevista a un o una referente por asentamiento se sostiene en primer lugar, a partir de reconocer y validar el conocimiento único que guarda la o el poblador del asentamiento entendiendo el rol del referente como un ejercicio
      de ciudadanía activa desde el territorio. En segundo lugar, al tratarse de información de carácter objetiva y general: historicidad, problemáticas, acceso a servicios, entre otros. En tercer lugar, la falta de antecedentes locales sobre la temática,
      lo que valida la necesidad de investigaciones exploratorias. Finalmente, fue necesario priorizar la aplicación del instrumento por una sola vez por comunidad y no en todos los hogares, o en una muestra representativa de los hogares, en razón de los
      recursos limitados para el desarrollo de esta investigación.
    </p>
    <p>
      Con la información resultante de la entrevista se profundiza en el acceso al equipamiento urbano, en la precariedad habitacional y el nivel de exposición al riesgo, a modo de ejemplo: cercanía a liceo o UTU, acceso al saneamiento, incendios ocurridos
      en el último año, entre otros. A partir de estos datos se construye el Índice de Vulnerabilidad Urbano-Habitacional que se presentará en el siguiente capítulo.
    </p>
    <p>
      Para algunos aspectos se realizó una pregunta abierta, como aspectos positivos, negativos y motivo de conformación del asentamientos. A efectos de presentar los resultados, se realizó un análisis de las respuestas obtenidas, para luego categorizar en
      las principales temáticas mencionadas.
    </p>
  </div>

  <footer class="footer">
    <div class="contact-container">
      <div class="row">
        <div class="col contact-data">
          <img src="https://institucional.techo.org/uruguay/wp-content/uploads/sites/21/2017/10/techo-footer.png" alt="TECHO Uruguay" class="mini-logo">
          <div class="contact-address">
            <b>Oficina Local</b>
            <br /> Maldonado 1872, Montevideo, Uruguay.
            <br /> Teléfono: (+598) 2412 54 85
            <br /> Email: <a href="mailto:info.uruguay@techo.org">info.uruguay@techo.org</a>
          </div>
        </div>
        <div class="col contact-data">
          <div class="row">
            <div class="col-md-2 col-md-offset-1">
              <a href="https://www.facebook.com/TECHOuruguay/?ref=bookmarks">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x icon-background"></i>
                  <i class="fa fa-facebook fa-stack-1x icon-color"></i>
                </span>
              </a>
            </div>
            <div class="col-md-2">
              <a href="https://www.instagram.com/techo_uy/?hl=es-la">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x icon-background"></i>
                  <i class="fa fa-instagram fa-stack-1x icon-color"></i>
                </span>
              </a>
            </div>
            <div class="col-md-2">
              <a href="https://www.youtube.com/channel/UCKozyJnXOp9UWipOB4rM2cw">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x icon-background"></i>
                  <i class="fa fa-youtube-play fa-stack-1x icon-color"></i>
                </span>
              </a>
            </div>
            <div class="col-md-2">
              <a href="https://twitter.com/TECHOuy">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x icon-background"></i>
                  <i class="fa fa-twitter fa-stack-1x icon-color"></i>
                </span>
              </a>
            </div>
            <div class="col-md-2">
              <a href="https://www.linkedin.com/company/16240453/admin/">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x icon-background"></i>
                  <i class="fa fa-linkedin fa-stack-1x icon-color"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
