.main-header {
  background-color: #0092dd;
  border: none;
  height: 70px;
}

.logo-container {
  padding-left: 19px;
  transform: translate( 0% , 18%);
}

img#logo {
  height: 37.8px;
}

.nav-item {
  padding-left: 10px;
}

.nav-link {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  color: #c8e0e3 !important;
  line-height: 70px;
}

.icon-background {
  color: white;
}

.icon-color {
  color: #0092dd;
}
