.main-header {
  background-color: #0092dd;
  border: none;
  height: 70px;
}

.logo-container {
  width: 25%;
	transform: none;
	padding: 1% 19px;
}
.navbar-toggler {
	display: none;
}
img#logo {
  height: 37.8px;
}
.navbar {
	width: 75%;
}
.navbar-nav {
  float: left;
}
.navbar-nav.navbar-right {
	float: right;
}
.nav-item {
	float: left;
}
.nav-item {
  padding: 10px;
}
.nav-link {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  line-height: 40px;
  letter-spacing: 1px;
}
.nav-icon {
  padding: 16px;
  float: right;
}
.icon-color {
  width: 32px;
  height: 32px;
  float: left;
}
.fa-facebook {
  background-image: url(/img/ic-facebook.svg), none;
}
.fa-instagram {
  background-image: url(/img/ic-instagram.svg), none;
}
.fa-linkedin {
  background-image: url(/img/ic-linkedin.svg), none;
}
.fa-twitter {
  background-image: url(/img/ic-twitter.svg), none;
}
.fa-youtube-play {
  background-image: url(/img/ic-youtube.svg), none;
}
