.main-header {
  background-color: #0092dd;
  border: none;
  height: 70px;
}

.logo-container {
  width: 25%;
	transform: none;
	padding: 2px 19px;
}
img#logo {
  height: 37.8px;
  float: left;
}
.logo-container span {
  float: left;
  width: 100%;
  margin: 2px 12px;
  font-weight: 600;
  color: #fff;
}
.navbar-toggler {
  display: none;
}
.navbar-nav {
  float: left;
}
.navbar-nav.navbar-right {
	float: right;
}
.nav-item {

}
.nav-item {
  padding: 10px 16px;
  float: left;
}
.nav-link {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  line-height: 40px;
  letter-spacing: 1px;
  text-decoration: none;
}
.nav-icon {
  padding: 14px 8px;
  float: right;
}
.icon-color {
  width: 32px;
  height: 32px;
  float: left;
}
.fa-facebook {
  background-image: url(/img/ic-facebook.svg), none;
}
.fa-instagram {
  background-image: url(/img/ic-instagram.svg), none;
}
.fa-linkedin {
  background-image: url(/img/ic-linkedin.svg), none;
}
.fa-twitter {
  background-image: url(/img/ic-twitter.svg), none;
}
.fa-youtube-play {
  background-image: url(/img/ic-youtube.svg), none;
}
#filters-collapsed {
  position: absolute;
  height: 100%;
  width: 56px;
  background-color: #2a323d;
  z-index: 1;
}
