.map-content-container {
  position: absolute;
  margin: 0;
  width: 100%;
  height: -webkit-calc(100% - 70px);
  height:    -moz-calc(100% - 70px);
  height:         calc(100% - 70px);}

.map-menu {
  background-color: #2a343e;
}

.map-container {
  padding: 0;
}

.map-iframe {
  position: relative;
  width: 100%;
  height: 100%;
  outline: 0;
  border: none;
}
/********** POPUP *********/
.leaflet-popup-content-wrapper {
  border-radius: 0;
}
.leaflet-popup-content,
.leaflet-popup-content label {
  color: #5f6978;
  line-height: 1.33;
  font-size: 12px;
  margin: 0;
}
.popup-header {
  padding: 16px 24px;
  background-color: rgba(0, 146, 221, 0.1);
}
.leaflet-container a.leaflet-popup-close-button {
  color: #000;
  margin: 0px 24px 0 0;
  font: inherit;
  font-size: 36px;
  font-weight: normal;
}
.popup-ast-nombre {
  color: #2a323d;
  font-size: 16px;
  line-height: 1.5;
  max-width: 85%;
}
.popup-body {
  padding: 16px 24px;
}
.popup-body li {
  width: 50%;
  float: left;
  min-height: 60px;
}
.popup-body label {
  width: 100%;
}
.popup-value {
  color: #2a323d;
  font-weight: bold;
}
.popup-footer {
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
}
.popup-footer a{
  color: #0092dd;
  font-size: 12px;
  text-align: center;
  font-style: italic;
}

#niveles-vuln {
  width: calc(100% - 360px);
  position: absolute;
  left: 360px;
  z-index: 100;
  color: #8894a3;
  height: 48px;
  opacity: 0.8;
  background-color: #ffffff;
  padding: 16px 24px;
}
#niveles-vuln label {
  font-size: 10px;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.lista-niveles-vuln {
  float: right;
}
.lista-niveles-vuln div {
  float: left;
}
.nivel-color {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  margin: 0 8px;
}
.extremo {
  background-color: #c85757;
}
.alto {
  background-color: #feb429;
}
.medio {
  background-color: #0092dd;
}
.bajo {
  background-color: #1cc7bd;
}
.neutro {
  background-color: #8894a3;
}
