.map-content-container {
  position: absolute;
  margin: 0;
  width: 100%;
  height: -webkit-calc(100% - 70px);
  height:    -moz-calc(100% - 70px);
  height:         calc(100% - 70px);}

.map-menu {
  background-color: #2a343e;
}

.map-container {
  padding: 0;
}

.map-iframe {
  position: relative;
  width: 100%;
  height: 100%;
  outline: 0;
  border: none;
}
.leaflet-popup-content,
.leaflet-popup-content label {
  color: #5f6978;
  line-height: 1.33;
  font-size: 12px;
}
.popup-ast-nombre {
  color: #2a323d;
  font-size: 16px;
  line-height: 1.5;
}
.popup-value {
  color: #2a323d;
  font-weight: bold;
}
.popup-footer a {
  color: #0092dd;
  font-size: 12px;
  text-align: center;
  font-style: italic;
}
