.img-header {
  width: 100%;
}

.content-container {
  margin: auto;
  margin-top: 48px;
  width: 624px;
}

footer {
  background-color: #2a323d;
}

.contact-container {
  margin: auto;
  width: 624px;
}

.contact-data {
  margin-top: 32px;
}

.mini-logo {
  width: 80px;
}

.contact-address {
  font-size: 14px;
  color: #8894a3;
  margin-top: 24px;
  margin-bottom: 40px;
  line-height: 24px;
}

b .contact-address {
  color: white;
}

footer {
  margin-top: 80px;
}

footer .icon-background {
  color: #ffffff;
}

footer .icon-color {
  color: #2a323d;
}

.btn-techo {
  width: 224px;
  margin-top: 40px;
  background-color: #c85757;
  border-color: #c85757;
  color: white;
  font-weight: bold;
}
